<a href="https://colab.research.google.com/github/beatrizmilz/grupo_estudo_data_science_II/blob/master/consumo_cerveja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade - Consumo de cerveja 
Notebook com a atividade feita pela [@beatrizmilz](https://github.com/beatrizmilz), no Grupo de Estudos de Data Science 2 - PyLadies São Paulo. Apresentar dia 16/02/2020. 

Instruções: Usando a [base de consumo de cerveja](https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo), disponível no [kaggle](https://www.kaggle.com/), aplique os conceitos apresentados nos capítulos 2 e 3 do livro **[Estatística Básica](https://www.amazon.com.br/Estat%C3%ADstica-B%C3%A1sica-Wilton-Bussab/dp/8547220224)**.

## Importar bibliotecas

In [0]:
# Importar bibliotecas
import pandas as pd

## Fazer download do dataset

In [0]:
# Para essa etapa é preciso utilizar a API do kaggle. Eu utilizei, mas depois 
# retirei meus dados e comentei a linha. 
# Para criar a API, no kaggle clique em "my account",
# e na seção API clique em "Create new API token".
# Usar essas credenciais no código abaixo, em "username" e "key".

# !mkdir /root/.kaggle # Cria o diretório .kaggle        
# !echo '{"username":"kaggle_username","key":"kaggle_key"}' > chmod 600 /root/.kaggle/kaggle.json

In [0]:
# Define qual dataset quero baixar, e faz o download
# !kaggle datasets download -d dongeorge/beer-consumption-sao-paulo

In [3]:
# Conferir se baixou o beer-consumption-sao-paulo.zip
!ls

beer-consumption-sao-paulo.zip	chmod  Consumo_cerveja.csv  sample_data

In [0]:
# É um zip. Para ter acesso ao .csv, é necessário usar o unzip
# !unzip beer-consumption-sao-paulo.zip

In [4]:
# Conferir se o arquivo .csv está nos arquivos.
!ls

beer-consumption-sao-paulo.zip	chmod  Consumo_cerveja.csv  sample_data

## Abrir a base de dados

In [0]:
# Usando a biblioteca pandas, ler o .csv e atribuir ao dataframe consumo_cerveja
consumo_cerveja = pd.read_csv("Consumo_cerveja.csv")

In [6]:
# Função head para ler as primeiras linhas do dataframe
consumo_cerveja.head()

         Data  ... Consumo de cerveja (litros)
0  2015-01-01  ...                      25.461
1  2015-01-02  ...                      28.972
2  2015-01-03  ...                      30.814
3  2015-01-04  ...                      29.799
4  2015-01-05  ...                      28.900

[5 rows x 7 columns]

## Capítulo 2 - Resumo de dados
Conceitos: 


*   Tipos de variáveis
*   Distribuição de frequências
*   Gráficos

In [7]:
consumo_cerveja.dtypes

Data                            object
Temperatura Media (C)           object
Temperatura Minima (C)          object
Temperatura Maxima (C)          object
Precipitacao (mm)               object
Final de Semana                float64
Consumo de cerveja (litros)    float64
dtype: object

## Capítulo 3 - Medidas-resumo
Conceitos: 


*   Medidas de posição: média aritmética, moda, mediana
*   Medidas de dispersão: desvio padrão, variância, desvio médio
*   Quantis
*   Boxplot

In [19]:
print("Moda da variável T média: ",    consumo_cerveja["Temperatura Media (C)"].mode()) # É uma variável bimodal
print("Moda da variável T mínima: ",   consumo_cerveja["Temperatura Minima (C)"].mode()) # É uma variável bimodal
print("Moda da variável T máxima: ",   consumo_cerveja["Temperatura Maxima (C)"].mode()) # É uma variável trimodal
print("Moda da variável Precipitação: ", consumo_cerveja["Precipitacao (mm)"].mode()) # É uma variável unimodal
print("Moda da variável Consumo de cerveja: ", consumo_cerveja["Consumo de cerveja (litros)"].mode()) # É uma variável unimodal

Moda da variável T média:  0    22,76
1       24
dtype: object
Moda da variável T mínima:  0    18,2
1    19,3
dtype: object
Moda da variável T máxima:  0    27,2
1    27,4
2      28
dtype: object
Moda da variável Precipitação:  0    0
dtype: object
Moda da variável Consumo de cerveja:  0    24.862
dtype: float64