<a href="https://colab.research.google.com/github/beatrizmilz/grupo_estudo_data_science_II/blob/master/consumo_cerveja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importar bibliotecas
import pandas as pd

In [9]:
# Para essa etapa é preciso utilizar a API do kaggle. Eu utilizei, mas depois 
# retirei meus dados e comentei a linha. 
# Para criar a API, no kaggle clique em "my account",
# e na seção API clique em "Create new API token".
# Usar essas credenciais no código abaixo, em "username" e "key".

 !mkdir /root/.kaggle # Cria o diretório .kaggle        
# !echo '{"username":"kaggle_username","key":"kaggle_key"}' > chmod 600 /root/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [10]:
# Define qual dataset quero baixar, e faz o download
!kaggle datasets download -d dongeorge/beer-consumption-sao-paulo

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
beer-consumption-sao-paulo.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
# Conferir se baixou o beer-consumption-sao-paulo.zip
!ls

beer-consumption-sao-paulo.zip	Consumo_cerveja.csv  sample_data

In [4]:
# É um zip. Para ter acesso ao .csv, é necessário usar o unzip
!unzip beer-consumption-sao-paulo.zip

Archive:  beer-consumption-sao-paulo.zip
replace Consumo_cerveja.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [5]:
# Conferir se o arquivo .csv está nos arquivos.
!ls

beer-consumption-sao-paulo.zip	Consumo_cerveja.csv  sample_data

In [0]:
# Usando a biblioteca pandas, ler o .csv e atribuir ao dataframe consumo_cerveja
consumo_cerveja = pd.read_csv("Consumo_cerveja.csv")

In [8]:
# Função head para ler as primeiras linhas do dataframe
consumo_cerveja.head()

         Data  ... Consumo de cerveja (litros)
0  2015-01-01  ...                      25.461
1  2015-01-02  ...                      28.972
2  2015-01-03  ...                      30.814
3  2015-01-04  ...                      29.799
4  2015-01-05  ...                      28.900

[5 rows x 7 columns]