<a href="https://colab.research.google.com/github/beatrizmilz/grupo_estudo_data_science_II/blob/master/consumo_cerveja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade EM ANDAMENTO - Consumo de cerveja 
Notebook com a atividade feita pela [@beatrizmilz](https://github.com/beatrizmilz), no Grupo de Estudos de Data Science 2 - PyLadies São Paulo. Apresentar dia 16/02/2020. 

Instruções: Usando a [base de consumo de cerveja](https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo), disponível no [kaggle](https://www.kaggle.com/), aplique os conceitos apresentados nos capítulos 2 e 3 do livro **[Estatística Básica](https://www.amazon.com.br/Estat%C3%ADstica-B%C3%A1sica-Wilton-Bussab/dp/8547220224)**.

## Importar bibliotecas

In [0]:

import pandas as pd 
import numpy as np
import datetime

# !pip install pyjanitor
import janitor

## Fazer download do dataset

In [0]:
# Para essa etapa é preciso utilizar a API do kaggle. Eu utilizei, mas depois 
# retirei meus dados e comentei a linha. 
# Para criar a API, no kaggle clique em "my account",
# e na seção API clique em "Create new API token".
# Usar essas credenciais no código abaixo, em "username" e "key".

# !mkdir /root/.kaggle # Cria o diretório .kaggle        
# !echo '{"username":"kaggle_username","key":"kaggle_key"}' > chmod 600 /root/.kaggle/kaggle.json

In [0]:
# Define qual dataset quero baixar, e faz o download
# !kaggle datasets download -d dongeorge/beer-consumption-sao-paulo

In [3]:
# Conferir se baixou o beer-consumption-sao-paulo.zip
!ls

beer-consumption-sao-paulo.zip	chmod  Consumo_cerveja.csv  sample_data

In [0]:
# É um zip. Para ter acesso ao .csv, é necessário usar o unzip
# !unzip beer-consumption-sao-paulo.zip

In [4]:
# Conferir se o arquivo .csv está nos arquivos.
!ls

beer-consumption-sao-paulo.zip	chmod  Consumo_cerveja.csv  sample_data

## Abrir a base de dados e arrumá-los

In [0]:
# Usando a biblioteca pandas, ler o .csv e atribuir ao dataframe consumo_cerveja
#  e limpar os nomes das colunas
consumo_cerveja = (pd.read_csv("Consumo_cerveja.csv", decimal=',')
                    .clean_names()
                   .rename_column("temperatura_media_c_", "temperatura_media")
                   .rename_column("temperatura_minima_c_", "temperatura_minima")
                   .rename_column("temperatura_maxima_c_", "temperatura_maxima")
                   .rename_column("precipitacao_mm_", "precipitacao")
                   .rename_column("consumo_de_cerveja_litros_", "consumo_de_cerveja")
)

In [6]:
# Função head para ler as primeiras linhas do dataframe
consumo_cerveja.head()

         data  temperatura_media  ...  final_de_semana  consumo_de_cerveja
0  2015-01-01              27.30  ...              0.0              25.461
1  2015-01-02              27.02  ...              0.0              28.972
2  2015-01-03              24.82  ...              1.0              30.814
3  2015-01-04              23.98  ...              1.0              29.799
4  2015-01-05              23.82  ...              0.0              28.900

[5 rows x 7 columns]

In [7]:
# Quantas observações e variáveis temos nesta base?
print("Observações:", consumo_cerveja.shape[0])
print("Variáveis:", consumo_cerveja.shape[1])

Observações: 941
Variáveis: 7

In [8]:
# Quais são os tipos de dados?
consumo_cerveja.dtypes

data                   object
temperatura_media     float64
temperatura_minima    float64
temperatura_maxima    float64
precipitacao          float64
final_de_semana       float64
consumo_de_cerveja     object
dtype: object

In [9]:
# Algumas variáveis estão com o tipo de dado incorreto. Corrigir isso!

consumo_cerveja['consumo_de_cerveja'] = consumo_cerveja['consumo_de_cerveja'].astype(float)

consumo_cerveja['final_de_semana'] = consumo_cerveja['final_de_semana'].astype(bool)

consumo_cerveja['data'] = pd.to_datetime(consumo_cerveja['data'])

consumo_cerveja.dtypes

data                  datetime64[ns]
temperatura_media            float64
temperatura_minima           float64
temperatura_maxima           float64
precipitacao                 float64
final_de_semana                 bool
consumo_de_cerveja           float64
dtype: object

## Capítulo 2 - Resumo de dados
Conceitos: 


*   Tipos de variáveis
*   Distribuição de frequências
*   Gráficos

In [10]:
# Quais variáveis temos nesta base de dados?
consumo_cerveja.columns

Index(['data', 'temperatura_media', 'temperatura_minima', 'temperatura_maxima',
       'precipitacao', 'final_de_semana', 'consumo_de_cerveja'],
      dtype='object')

## Capítulo 3 - Medidas-resumo
Conceitos: 


*   Medidas de posição: média aritmética, moda, mediana
*   Medidas de dispersão: desvio padrão, variância, desvio médio
*   Quantis
*   Boxplot

In [11]:
consumo_cerveja.median()

temperatura_media     21.380
temperatura_minima    17.900
temperatura_maxima    26.900
precipitacao           0.000
final_de_semana        1.000
consumo_de_cerveja    24.867
dtype: float64

In [12]:
consumo_cerveja.mean()

temperatura_media     21.226356
temperatura_minima    17.461370
temperatura_maxima    26.611507
precipitacao           5.196712
final_de_semana        0.722635
consumo_de_cerveja    25.401367
dtype: float64

In [14]:
consumo_cerveja.mode(numeric_only=True)

   temperatura_media  temperatura_minima  ...  final_de_semana  consumo_de_cerveja
0              22.76                18.2  ...             True              24.862
1              24.00                19.3  ...              NaN                 NaN
2                NaN                 NaN  ...              NaN                 NaN

[3 rows x 6 columns]